@page "/"

<PageTitle>Home</PageTitle>


@*
<h3>Welcome to App</h3>
*@


<div>
    @*<h4>Application Overview</h4>
    <p>Your application aims to automate data exchange in the production process, control AGV operations, and provide reports on various aspects.</p>
    *@
 <img src="https://www.slideteam.net/media/catalog/product/cache/1280x720/e/n/environmental_sustainability_kpi_dashboard_showing_social_footprint_and_supply_chain_category_Slide01.jpg" alt="Homepage Placeholder" style="width: 100%; height: auto;" />
    
</div>
