@page "/QualityAnalysis"

<div class="card">
    <h3>Automated Quality Analysis and Adjustments</h3>

    
    <!-- Automatic Adjustment Table Section -->
 
    <div class="adjustment-table-header">
        
            <p>Stator No.:</p>
            <p>Measurement No.:</p>
            <p>Date:</p>
        
    </div>
    
    <table class="adjustment-table">
        <thead>
            <tr>
                <th>Measurement Value</th>
                <th>Deviation</th>
                <th>Adjustment</th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody>
      @*@foreach(varitemintodos)*@
      <tr>
      <td>Parameter1</td>
      @*<td>@parameter1Value</td>
      <td>@automaticAdjustment1</td>*@
      </tr>
      <tr>
      <td>Parameter2</td>
      @*<td>@parameter2Value</td>
      <td>@automaticAdjustment2</td>*@
      </tr>
      <!--Addmorerowsforadditionalparameters-->

        </tbody>
    </table>

    
    
    
</div>




@code { // add this to the updated git for impl test

    // private int MeasurementNo = "";
   
}