.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    max-width: 800px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.adjustment-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.adjustment-table th, .adjustment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.adjustment-table th {
    background-color: #f2f2f2;
}
