@page "/Welcome"

<div class="container mt-5">
    <h3 class="mb-4">Welcome to Our App!</h3>
    <p>This is the welcome page that anyone can access.</p>
    <p>If you want to access other pages, please log in.</p>
</div>